html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background: #f4f4f4;
  color: #020202;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.docs-app {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
  width: 960px;
}
.content h2 {
  font-size: 22px;
  margin: 10px 0 10px 20px;
}
.content h3 {
  font-size: 18px;
  margin: 10px 0 10px 20px;
}
.content pre {
  width: 100%;
}
.content pre code {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
.header {
  border-bottom: 1px solid #272822;
  padding: 20px;
}
.header .header-title {
  font-size: 32px;
}
.header .header-version {
  color: #ccc;
  font-size: 26px;
  margin-left: 10px;
}
.header .header-subtitle {
  font-size: 22px;
  margin: 20px 0 0 0;
}
.header .header-subtitle a {
  color: #05a5d1;
  text-decoration: none;
}
.header .header-subtitle a:hover {
  text-decoration: underline;
}
.installation {
  margin-top: 20px;
}
