html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}

body {
  background: #f4f4f4;
  color: #020202;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

button {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  margin-right: 10px;
  padding: 8px 16px;
}

input[type='text'] {
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  margin-right: 10px;
  outline: none;
  padding: 8px 16px;
  position: relative;
}

.docs {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
  padding-bottom: 200px;
  width: 960px;
}

.content h2 {
  font-size: 22px;
  margin: 10px 0 10px 20px;
}

.content h3 {
  font-size: 18px;
  margin: 10px 0 10px 20px;
}

.content pre {
  width: 100%;
}

.content pre code {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}

.content .component-container {
  margin: 10px auto;
  width: 50%;
}

.header {
  border-bottom: 1px solid #272822;
  padding: 20px;
}

.header .header-title {
  font-size: 32px;
}

.header .header-version {
  color: #ccc;
  font-size: 26px;
  margin-left: 10px;
}

.header .header-subtitle {
  font-size: 22px;
  margin: 20px 0 0 0;
}

.header .header-subtitle a {
  color: #05a5d1;
  text-decoration: none;
}

.header .header-subtitle a:hover {
  text-decoration: underline;
}

.installation {
  margin-top: 20px;
}

.react-ui-grid {
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
}

.react-ui-grid-header-cell {
  border-left: 1px solid #cdcdcd;
  cursor: pointer;
  height: 40px;
  padding: 0 10px;
}

.react-ui-grid-header-cell:first-child {
  border-left-width: 0;
}

.react-ui-grid-cell {
  border: 1px solid #cdcdcd;
  border-width: 1px 0 0 1px;
  height: 40px;
  padding: 0 10px;
}

.react-ui-grid-cell:first-child {
  border-left-width: 0;
}

.react-ui-grid-row:nth-child(odd) > .react-ui-grid-cell {
  background-color: #efefef;
}

.react-ui-date-picker {
  background: url('../images/calendar.png') no-repeat 98% 50%;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: arrow;
  font-size: 13px;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  position: relative;
  width: 75%;
}

.react-ui-date-picker-placeholder {
  color: #ababab;
}

.react-ui-date-picker-controls {
  float: right;
  height: 32px;
}

.react-ui-date-picker-calendar {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  margin-top: 4px;
  width: 100%;
}

.react-ui-date-picker-calendar-head {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.react-ui-date-picker-calendar-body {
  font-size: 12px;
}

.react-ui-date-picker-calendar-controls {
  font-size: 18px;
  text-align: center;
}

.react-ui-date-picker-calendar-previous {
  background: #00bcd4;
  border-radius: 4px 0 0 0;
}

.react-ui-date-picker-calendar-next {
  background: #00bcd4;
  border-radius: 0 4px 0 0;
}

.react-ui-date-picker-calendar-title {
  background: #00bcd4;
  color: #fff;
  text-align: center;
}

.react-ui-date-picker-calendar-header-day {
  background: #00bcd4;
  font-size: 12px;
  text-align: center;
}

.react-ui-date-picker-calendar-day {
  cursor: pointer;
  text-align: center;
  color: #cdcdcd;
}

.react-ui-date-picker-calendar-next-icon {
  background: url('../images/icon-next.png') no-repeat center;
  cursor: pointer;
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.react-ui-date-picker-calendar-previous-icon {
  background: url('../images/icon-previous.png') no-repeat center;
  cursor: pointer;
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.react-ui-date-picker-calendar-selected-month {
  color: #000;
}

.react-ui-date-picker-calendar-day-container {
  background: transparent;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  width: 28px;
}

.react-ui-date-picker-calendar-current-day > .react-ui-date-picker-calendar-day-container {
  background: #cdcdcd;
  color: #fff;
}

.react-ui-date-picker-calendar-day:hover > .react-ui-date-picker-calendar-day-container {
  background-color: #00bcd4;
  color: #fff;
}

.react-ui-date-picker-calendar-selected-day > .react-ui-date-picker-calendar-day-container {
  background: #00bcd4;
  color: #fff;
}

.react-ui-date-picker-calendar-disabled-day {
  color: #cdcdcd;
}
