@import 'nib';

global-reset();

body {
    background: #f4f4f4;
    color: #020202;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.docs-app {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding-bottom: 50px;
    width: 960px;
}

.content {
    h2 {
        font-size: 22px;
        margin: 10px 0 10px 20px;
    }

    h3 {
        font-size: 18px;
        margin: 10px 0 10px 20px;
    }

    pre {
        width: 100%;

        code {
            box-sizing: border-box;
            padding: 20px;
        }
    }

    .component-container {
        margin: 10px auto;
        width: 50%;
    }
}

.header {
    border-bottom: 1px solid #272822;
    padding: 20px;

    .header-title {
        font-size: 32px;
    }

    .header-version {
        color: lighten(#020202, 80%);
        font-size: 26px;
        margin-left: 10px;
    }

    .header-subtitle {
        font-size: 22px;
        margin: 20px 0 0 0;

        a {
            color: #05a5d1;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.installation {
    margin-top: 20px;
}
